pandas>=2.0.0
numpy>=1.24.0
sqlalchemy>=2.0.0
#psycopg2>=2.9.0
psycopg2-binary>=2.9.0
python-dotenv>=1.0.0
logging
configparser
dataclasses
pytest>=7.4.0
pytest-cov>=4.1.0
pytest-mock>=3.11.0
pytest-asyncio>=0.21.0